# This is a Dockerfile for the {{ name }}:{{ version }}-{{ release }} image.

FROM {{ helper.base_image(from, version) }}

{% if maintainer %}
MAINTAINER {{ maintainer }}

{% endif -%}

# Environment variables
ENV JBOSS_IMAGE_NAME="{{name}}" \
    JBOSS_IMAGE_VERSION="{{version}}" \
    JBOSS_IMAGE_RELEASE="{{release}}" {% if helper.envs(envs) %}\{% for env in helper.envs(envs) %}

    {{ env.name }}="{{ env.value }}" {% if loop.index < loop.length %}\{% endif %}
    {% endfor %}

    {% endif %}

# Labels
LABEL Name="$JBOSS_IMAGE_NAME" \
      Version="$JBOSS_IMAGE_VERSION" \
      Release="$JBOSS_IMAGE_RELEASE" \
      Architecture="x86_64" \
      BZComponent="{{ helper.component(name) }}" {%- if labels %} \
      {% for label in labels %}
      {{ label.name }}="{{ label.value }}" {%- if loop.index < loop.length %} \{% endif %}

      {% endfor %}
{% endif %}

{% if ports %}
# Exposed ports
EXPOSE {%- for port in ports %} {{ port.value }}{% endfor %}

{% endif %}

USER root

{% if packages %}
# Install required RPMs
RUN yum install -y {%- for package in packages %} {{ package }}{% endfor %} \
    && yum clean all

{% endif %}

{%- if sources %}
# Add all required sources to the /tmp/scripts/sources/
# directory
ADD \
{% for source in sources %}
    {{ helper.basename(source.url) }} \
    {% endfor %}
    /tmp/scripts/sources/

{% endif %}

{%- if scripts %}
# Add scripts used to configure the image
ADD scripts /tmp/scripts

# Custom scripts
{% for script in scripts %}
{% if script.user %}
USER {{ script.user }}
{% else %}
USER root
{% endif %}
RUN [ "bash", "-x", "/tmp/scripts/{{ script.package }}/{{ script.exec }}" ]

{% endfor %}
# Cleanup the scripts directory
USER root
RUN rm -rf /tmp/scripts

{% endif %}

{%- if openshift %}
# Switch to the user 185 for OpenShift usage
USER 185
{% else %}
USER jboss
{% endif %}

{%- if workdir %}
# Specify the working directory
WORKDIR {{ workdir }}
{% endif %}

{% if cmd %}
# Start the main process
CMD {{ helper.cmd(cmd) }}
{% endif %}

