# Copyright 2016 Red Hat
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
# ------------------------------------------------------------------------
#
# This is a Dockerfile for the {{ name }}:{{ version }} image.

FROM {{ helper.base_image(from, version) }}

{% if maintainer %}
MAINTAINER {{ maintainer }}

{% endif -%}

# Environment variables
ENV JBOSS_IMAGE_NAME="{{name}}" \
    JBOSS_IMAGE_VERSION="{{version}}" \
    JBOSS_IMAGE_RELEASE="{{release}}" {% if helper.envs(envs) %}\{% for env in helper.envs(envs) %}

    {{ env.name }}="{{ env.value }}" {% if loop.index < loop.length %}\{% endif %}
    {% endfor %}

    {% endif %}

# Labels
LABEL name="$JBOSS_IMAGE_NAME" \
      version="$JBOSS_IMAGE_VERSION" \
      release="$JBOSS_IMAGE_RELEASE" \
      architecture="x86_64" \
      com.redhat.component="{{ helper.component(name) }}" {%- if labels %} \
      {% for label in labels %}
      {{ label.name }}="{{ label.value }}" {%- if loop.index < loop.length %} \{% endif %}

      {% endfor %}
{% endif %}

{% if ports %}
# Exposed ports
EXPOSE {%- for port in ports %} {{ port.value }}{% endfor %}

{% endif %}

USER root

{% if packages or rpms %}
{% if additional_repos %}
# Add custom repo files
COPY scripts/*.repo /etc/yum.repos.d/
{% endif %}
{% if rpms %}
# Add custom rpm files
COPY rpms/*.rpm /tmp/rpms/
{% endif %}

# Install required RPMs
RUN yum install -y {% if additional_repos -%} --disablerepo=\* {%- for repo in additional_repos %} --enablerepo={{ repo }}{% endfor %}{% endif %} {%- for package in packages %} {{ package }}{% endfor %} {%- for rpm in rpms %} /tmp/rpms/{{ rpm }} {% endfor %} \
    && yum clean all

{% if additional_repos %}
# Remove custom repo files
RUN rm{% for repo in additional_repos %} /etc/yum.repos.d/{{ repo }}.repo{% endfor %}

{% endif %}

{% endif %}

{%- if sources %}
# Add all required sources to the /tmp/scripts/sources/
# directory
COPY \
{% for source in sources %}
    {{ helper.basename(source.url) }} \
    {% endfor %}
    /tmp/scripts/sources/

{% endif %}

{%- if scripts %}
# Add scripts used to configure the image
COPY scripts /tmp/scripts

# Custom scripts
{% for script in scripts %}
USER {{ script.user }}
RUN [ "bash", "-x", "/tmp/scripts/{{ script.package }}/{{ script.exec }}" ]

{% endfor %}
{% endif %}

{% if cct %}
# Run cct if needed
COPY cct /tmp/cct/
ENV CCT_MODULES_PATH=/tmp/cct/
USER {{ cct.user }}
RUN cct {%if cct.verbose %}-v{% endif %} {% for run in cct.run %} /tmp/cct/{{ run }} {% endfor %}

# Add cct in command mode as entrypoint
# you can specify path to changes files in CCT_CHANGES environment variable
ENTRYPOINT ["/usr/bin/cct", {% if cct.runtime_changes -%}"{{ cct.runtime_changes }}", {% endif -%}"-c"]
{% endif %}

{%- if scripts %}
# Cleanup the scripts directory (after cct so cct has access to /tmp/scripts/sources)
USER root
RUN rm -rf /tmp/scripts
{% endif %}

{%- if workdir %}
# Specify the working directory
WORKDIR {{ workdir }}
{% endif %}

USER {{ user }}

{% if cmd %}
CMD {{ helper.cmd(cmd) }}
{% endif %}
