[MESSAGES CONTROL]
disable=logging-format-interpolation,logging-not-lazy,useless-object-inheritance,invalid-name,missing-docstring,no-self-use

[FORMAT]
ignore-long-lines=(^\s*(# )?<?https?://\S+>?$)|(^@click\.)
max-line-length=132