[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
behave = "*"
lxml = "*"
mock = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "==1.11.2"
docker = "*"
docker-squash = "*"
click = "*"
pylint = "*"
autopep8 = "*"
"zest.releaser" = "*"
isort = "*"
black = "*"

[packages]
pykwalify = ">=1.6.0"
colorlog = ">=2.10.0"
PyYAML = ">=3.10"
Jinja2 = ">=2.7"
click = ">=6.7"
odcs = ">=0.2.50"

[requires]
python_version = "*"
