[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
behave = "*"
lxml = "*"
mock = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"

[packages]
pykwalify = ">=1.6.0"
colorlog = ">=2.10.0"
docker = "*"
docker-squash = "*"
PyYAML = ">=3.10"
Jinja2 = ">=2.7"

[requires]
python_version = "*"
